*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins',sans-serif;
}
.container{
    margin: 15px auto;
    width: 600px;
    height: 620px;
    background-color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;

}
.title{
    color: rgb(12, 170, 38);
    font-size: 20px;
    font-family:fantasy;
    font-weight: 600;
    margin: 10px;
    border: 3px solid green;
    padding: 5px;

    
}
.tilecon{
    margin: 10px auto;
    display: grid;
    grid-template-columns:auto auto auto ;
    /* grid-template-rows: repeat(3); */
    max-width: 400px;
    background-color: rgb(233, 229, 229); 
    

}
.tile{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(22, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 20pt;
    font-weight: 600;
}
.turn{
    font-size:20px;
    color: rgb(19, 16, 18);

}
#restart{
    margin: 10px;
    padding: 10px;
    width: 100px;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}
.hide{
    display: none;
}
.turn{
    color: rgb(250, 248, 248);
    font-family:"Calisto MT";
    font-size:30pt;
    padding: 10px;


}
#announcer{
    padding: 10px;
    margin: 5px;
    border:5px solid rgb(250, 244, 244);
    border-radius: 4px;
    background-color: aqua;
    font-size: 20pt;
    font-weight: 500;
    color: black;

}